.sidesplit {
	overflow: hidden;
	background-color: #ccc;
}

.sidesplit-right {
	width: 50%;
	height: 100%;
	float: right;
	padding: 5px;
	position: absolute;
	background-color: #E2E2E2;
	right: 0;
	z-index: 2;
}

.sidesplit-left {
	width: 50%;
	height: 100%;
	position: absolute;
	float: left;
}

.sidesplit-abs {
	position: absolute;
	top: 0;
	z-index: 5000;
}


.sidesplit:focus {
    outline: none;
}