<ul id="pw-fsexplorer" {{options.ulClass}} >
	<li ng-click="backToParent()">
	<button>back</button>
	</li>
	<li ng-repeat="node in nodeList" ng-class="headClass(node)"> 
		<i class="tree-branch-head" ng-class="iBranchClass()" ng-click="selectNodeHead(node)"></i>
		<div class="tree-label {{options.labelClass}}" ng-click="selectNodeLabel(node)">
			<pw-node-transclude></pw-node-transclude>
		</div>  
	</li> 
</ul>

<style type="text/css">
#pw-fsexplorer div {
  width: 200px;
}
 
#pw-fsexplorer h2 {
  font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}
 
#pw-fsexplorer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
#pw-fsexplorer li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}
 
#pw-fsexplorer li:last-child {
  border: none;
}
 
#pw-fsexplorer li a {
  text-decoration: none;
  color: #000;
  display: block;
  width: 200px;
 
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}
 
#pw-fsexplorer li a:hover {
  font-size: 30px;
  background: #f6f6f6;
}	
</style>